.modal-body {
  padding: 2rem 1rem;

  h3 {
    text-align: center;
    margin-bottom: 4rem;
  }
}

.card {
  border: 0;
  min-height: 275px;
}

.card-img-top {
  margin-bottom: 2rem;
}

.card-button-spacer {
  height: 38px;
}


.score-up,
.score-down {
  font-weight: bold;
  text-align: center;
}

.score-up {
  color: green;
}

.score-down {
  color: red;
}
