.modal-body {
  padding: 1rem 0;

  h3 {
    text-align: center;
    margin-bottom: 4rem;
  }
}

.modal-header {
  padding: 0;

  > button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 5;
  }
}

.card {
  border: 0;
  box-shadow: none;
}

.card-img-top {
  cursor: pointer;
}

.score-up,
.score-down {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
}

.Modal-links {
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 992px) {
  .modal-body {
    padding: 2rem 1rem;
  }

  .modal-lg, .modal-xl {
    max-width: 600px;
  }
}
